<div class = "container">
  <div class="row">
    <div class="col-md-3" "snack" id="fruit">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://foodcracks.com/wp-content/uploads/2014/04/Strawberry_photos_Fresh_Strawberry_Picture_F045019.jpg" alt="vegetable" class="img-thumbnail">
        </div>
        <div class="panel-footer">
          <div class="btn-group">
            <button type="button" class="btn btn-default">New Fruit</button>
            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 snack" id="vegetable">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://www.quickanddirtytips.com/sites/default/files/styles/insert_large/public/images/4675/RomaineLettuce.jpg?itok=eSWCx3w4" alt="fruit" class="img-thumbnail">
        </div>
        <div class="panel-footer">
          <div class="btn-group">
            <button type="button" class="btn btn-default">New Vegetable</button>
            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3" "snack" id="protein">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://demostore.swarmingtech.com/media/catalog/product/cache/1/image/800x800/9df78eab33525d08d6e5fb8d27136e95/b/i/bigstockphoto_ribeye_steak_1241204.jpg" alt="protein" class="img-thumbnail">
        </div>
        <div class="panel-footer">
          <div class="btn-group">
            <button type="button" class="btn btn-default">New Protein</button>
            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3" "snack" id="grain">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://www.baldorfood.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/h/shutterstock_86834578_1_.jpg" alt="grain" class="img-thumbnail">
        </div>
        <div class="panel-footer">
          <div class="btn-group">
            <button type="button" class="btn btn-default">New Grain</button>
            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class= "row">
    <div class="panel panel-default">
      <div class="panel-heading">Snack Attack Control Panel</div>
      <div class="panel-body">
        <div class="col-md-6">
          <div class="well">
            <div id="wrapper">
              <ul>
                <li>Page 1</li>
                <li>Page 2</li>
                <li>Page 3</li>
                <li>Page 4</li>
                <li>Page 5</li>
                <li>Page 6</li>
                <li>Page 4</li>
                <li>Page 5</li>
                <li>Page 6</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <table class="table">
            <thead>
              <tr>
                <th>calories</th>
                <th>protein</th>
                <th>fat</th>
              </tr>
            </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
