<h2><%= @food.name %></h2>
<br>
<b>Calories</b> | <%= @food.calories %><br>
<b>Protein</b> | <%= @food.protein %>
<br>
<%= link_to 'Back', accept_user_input_path, id: "back-btn", class: "btn btn-default", role: "button" %>
