.panel-footer, .panel-heading{
  text-align: center;
}
.img-thumbnail{
  min-height: 200px;
  max-height: 200px;
}
.panel-body{
  text-align: center;
}
#wrapper {
  overflow:auto;
  max-height:120px;
}
.header{
  margin: 0 0 0 15px;
}
.login{
  margin: 0 0 0 20px ;
}
