
.panel-heading{
  text-align: center;
  font-size: 24px;
  font-family: 'Playball', cursive;
}
.wrapper {
  overflow:auto;
  height:300px;
}
.wrapper li{
  font-size: 18px;
  font-family: 'Playball', cursive;
  list-style-type: none;
  line-height: 35px;
}
.search{
  text-align: center;
}
.search-results{
  height: 300px;
  text-align: center;
  text-decoration: underline;
  font-size: 24px;
  font-family: 'Playball', cursive;
}
.results{
  float: right;
}
.img-circle{
  height: 100px;
  width: 120px;
  margin-top: 100px
}
.header{
  margin: 0 0 0 15px;
}
.login{
  margin: 0 0 0 20px ;
}
