.panel-heading{
  text-align: center;
  font-size: 24px;
  font-family: 'Playball', cursive;
}
.panel-heading p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
}
.wrapper {
  overflow:auto;
  height:300px;
}
.wrapper li{
  font-size: 20px;
  font-family: 'Playball', cursive;
  list-style-type: none;
  line-height: 35px;
}
.search{
  text-align: center;
}
.search-results{
  height: 300px;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  font-family: 'Playball', cursive;
  overflow:auto;
  height:300px;
}
.results{
  float: right;
}
.search-results ul{
  list-style-type: none;
}
.search-results li{
  height: 70px ;
  list-style-image: url('http://media-cache-ec0.pinimg.com/favicons/1450e8f37f09feae18eb1c2349cbb0da4a1e1465cc0f269d0f525fa5.png?9719527d0912333852e680f2e237a9d6');
}
.img-circle{
  height: 100px;
  width: 120px;
  margin-top: 100px
}
.header{
  margin: 0 0 0 15px;
}
.header h1{
  font-family: 'Playball', cursive;
  font-size: 50px;
}
.login{
  margin: 0 0 0 20px ;
}
.btn{
  margin: 0 20px;
}
.btn-info{
  margin: 0;
}

